.form{
    text-align: center;
    color: white;
}
.formrecipe{
    padding-top: 20px;
    padding-right: 100px;
    
}
.howtomake{
    margin-top: 20px;
    padding-right: 67px;
}
.tukurikata{
    text-align: center;
}

