.form {
    font-size : 20px;
}
.tukurikata{
    
   width: 600px;
   height: 350px;
   margin: 0px;
   margin-bottom: 100px;
   margin-left: 280px;
   border-radius: 5px;
   box-shadow: 0 3px 6px 20px#ccc;
   background-color: white;
}

.tukurikata2{
    position: absolute;
    font-family: fantasy;
    font-size: 20px;
}