
<%=link_to"Enjoy cooking!!", new_message_path, class: "logo"%>
 <img src="<%= asset_path "sample.jpg" %>"  class ="recipe">
  
<%= render "messages/messages", messages: @messages %>

<div class="paige">
  <%= paginate @messages , class: "page"%>
</div>


 